* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form, .cv {
  height: 80vh;
  width: 35vw;
  background-color: #f1f5f9;
}